Repository alexph10/pulse-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, npm run design:generate, git add app/generated-tokens.css

Refine quick actions and nav styling
  app/components/activity/ActivityHeatmap.tsx
  app/components/activity/ActivityTimeline.tsx
  app/components/analytics/DateRangePicker.tsx
  app/components/analytics/ExportButton.tsx
  app/components/analytics/JournalStreak.tsx
  app/components/analytics/StatCard.tsx
  app/components/dashboard-navbar/dashboard-navbar.tsx
  app/components/navbar/navbar.module.css
  app/components/navbar/navbar.tsx
  app/components/quick-actions/QuickActions.module.css
  app/components/quick-actions/QuickActions.tsx
  app/components/quick-goals-widget/quick-goals-widget.tsx
  app/components/shared/EmptyState.module.css
  app/components/shared/EmptyState.tsx
  app/components/shared/LoadingState.module.css
  app/components/shared/LoadingState.tsx
  app/components/sidebar/sidebar.module.css
  app/components/submodule-nav/submodule-nav.module.css
  app/components/submodule-nav/submodule-nav.tsx
  app/components/ui/CommandPalette.tsx
  app/contexts/ToastContext.tsx
  app/dashboard/activity/page.tsx
  app/dashboard/goals/page.module.css
  app/dashboard/goals/page.tsx
  app/dashboard/habits/page.tsx
  app/dashboard/insights/insights.module.css
  app/dashboard/notes/notes.module.css
  app/dashboard/page.module.css
  app/dashboard/page.tsx
  app/dashboard/profile/page.tsx
  app/dashboard/quick-actions/page.tsx
  app/dashboard/quick-actions/quick-actions.module.css
  app/dashboard/reflections/page.tsx
  app/generated-tokens.css
  app/globals.css
  lib/design-tokens/colors.ts
Due: stylelint --fix, eslint --fix, npm run design:generate, git add app/generated-tokens.css

Snapshot: Dark theme with centered layout before Era-inspired transformation
  app/dashboard/page.module.css
  app/dashboard/page.tsx
Due: stylelint --fix, eslint --fix

Add remaining profile overlay changes and cleanup
  UI_LIBRARY_COMPLETE.md
  app/components/analytics/FocusTime.tsx
  app/components/dashboard-navbar/dashboard-navbar.tsx
  app/components/mobile/MobileNav.tsx
  app/components/page-toggle/page-toggle.tsx
  app/components/right-panel/right-panel.module.css
  app/components/right-panel/right-panel.tsx
  app/components/sidebar/sidebar.tsx
  app/components/submodule-nav/submodule-nav.tsx
  app/components/ui/Badge.module.css
  app/components/ui/Badge.tsx
  app/components/ui/Divider.README.md
  app/components/ui/Divider.module.css
  app/components/ui/Divider.tsx
  app/components/ui/Modal.DESIGN_NOTES.md
  app/components/ui/Table.README.md
  app/components/ui/Table.module.css
  app/components/ui/Table.tsx
  app/components/ui/Tabs.module.css
  app/components/ui/Tabs.tsx
  app/components/ui/Toggle.module.css
  app/components/ui/Toggle.tsx
  app/components/ui/Tooltip.module.css
  app/components/ui/Tooltip.tsx
  app/dashboard/profile/page.tsx
  app/dashboard/settings/page.tsx
  app/dashboard/settings/settings.module.css
  app/design-system/components-demo/demo.module.css
  app/design-system/components-demo/page.tsx
  app/layout.tsx
Due: stylelint --fix, eslint --fix

Reduce spacing and sizing across app to make it more compact
  app/components/dashboard-navbar/dashboard-navbar.tsx
  app/components/right-panel/right-panel.module.css
  app/components/sidebar/sidebar.module.css
  app/components/signature-card/completion-stats.module.css
  app/components/submodule-nav/submodule-nav.module.css
  app/components/submodule-nav/submodule-nav.tsx
  app/components/ui/Card.module.css
  app/components/ui/Modal.module.css
  app/dashboard/page.module.css
  app/dashboard/settings/settings.module.css
  app/styles/grid.module.css
Due: stylelint --fix, eslint --fix

Apply compact spacing across all dashboard pages and components
  app/dashboard/page.tsx
  app/dashboard/profile/page.tsx
  app/dashboard/progress/page.tsx
  app/dashboard/settings/page.tsx
  app/dashboard/settings/settings.module.css
Due: stylelint --fix, eslint --fix

Change background theme from dark to white
  app/dashboard/settings/settings.module.css
  app/globals.css
Due: stylelint --fix

Apply consistent dark gray color scheme from navbar buttons to all accent elements
  app/globals.css
Due: stylelint --fix

Apply dark gray color scheme across all pages and components
  app/components/analytics/FocusTime.tsx
  app/components/dashboard-navbar/dashboard-navbar.tsx
  app/components/right-panel/right-panel.module.css
  app/components/submodule-nav/submodule-nav.tsx
  app/dashboard/profile/page.tsx
  app/dashboard/settings/page.tsx
  app/dashboard/settings/settings.module.css
Due: stylelint --fix, eslint --fix

Fix React hooks errors
  app/components/analytics/StackedAreaChart.tsx
  app/components/mobile/MobileNav.tsx
  app/design-system/components-minimal/page.tsx
  app/hooks/useMediaQuery.ts
  components/ui/orb.tsx
  components/ui/waveform.tsx
Due: eslint --fix

Fix TypeScript any types and unescaped entities
  app/components/ui/CommandPalette.tsx
  app/forgot-password/page.tsx
  app/hooks/useDateRange.ts
  app/landing/components/fractal-glass/fractal-glass-plane.tsx
  app/login/page.tsx
  app/onboarding/page.tsx
Due: eslint --fix

Fix all remaining critical linting errors
  app/components/submodule-nav/submodule-nav.tsx
  app/dashboard/analytics/page.tsx
  app/design-system/colors/page.tsx
  app/design-system/components-demo/page.tsx
  app/design-system/page.tsx
  app/hooks/useDashboardData.ts
  app/hooks/useVoiceRecorder.ts
  app/landing/components/fractal-glass/fractal-glass-plane.tsx
  app/landing/components/hero-overlay/3d-scene.tsx
  app/landing/components/matrix-grid/matrix-grid.tsx
  app/onboarding/page.tsx
  app/reset-password/page.tsx
  app/verify-email/page.tsx
  components/ui/orb.tsx
  components/ui/waveform.tsx
  lib/api/ai-client.ts
  lib/auth.ts
Due: eslint --fix

Fix all remaining linting errors - zero errors achieved!
  app/components/submodule-nav/submodule-nav.tsx
  app/landing/components/fractal-glass/fractal-glass-plane.tsx
  app/onboarding/page.tsx
  eslint.config.mjs
  lib/export/exportUtils.ts
  lib/export/pdfExporter.ts
  lib/hooks/useAutoSave.ts
  lib/hooks/useSearch.ts
  lib/storage/draftStorage.ts
  pulse-ai-service/src/middleware/auth.ts
  pulse-ai-service/src/middleware/rateLimit.ts
  pulse-ai-service/src/middleware/validation.ts
  pulse-ai-service/src/routes/analyze-mood.ts
  pulse-ai-service/src/routes/analyze-patterns.ts
  pulse-ai-service/src/routes/chat.ts
  pulse-ai-service/src/routes/transcribe.ts
  pulse-ai-service/src/server.ts
Due: eslint --fix

Fix all 28 ESLint warnings - perfect clean build!
  app/components/submodule-nav/submodule-nav.tsx
  app/dashboard/analytics/page.tsx
  app/hooks/useVoiceRecorder.ts
  app/landing/components/hero-overlay/3d-scene.tsx
  app/onboarding/page.tsx
  components/ui/waveform.tsx
  lib/api/ai-client.ts
  lib/auth.ts
  lib/design-tokens/__tests__/tokens.test.ts
  lib/design-tokens/helpers.ts
  lib/hooks/useSearch.ts
Due: eslint --fix, npm run design:generate, git add app/generated-tokens.css

refactor: rename UnusualNav to PeekNav and replace CSS
  app/components/ui/PeekNav.tsx
  app/components/ui/peekNav.module.css
  app/page.tsx
Due: stylelint --fix, eslint --fix

fix(peeknav): use translate offset for card peek; re-export UnusualNav to PeekNav
  app/components/ui/UnusualNav.tsx
  app/components/ui/peekNav.module.css
Due: stylelint --fix, eslint --fix

fix(peeknav): close on clicks to void (backdrop) — only cardRow is treated as inside
  app/components/ui/PeekNav.tsx
Due: eslint --fix

feat(peeknav): add hover + focus lift and stronger shadow to cards
  app/components/ui/peekNav.module.css
Due: stylelint --fix

feat(peeknav): subtle lift animation on open — card row slides up a few px
  app/components/ui/peekNav.module.css
Due: stylelint --fix

Add chat panel, page navigation, and UI improvements
  app/chat/page.tsx
  app/components/analytics/CorrelationChart.tsx
  app/components/ui/ChatPanel.tsx
  app/components/ui/EmptyChats.tsx
  app/components/ui/UpcomingDropdown.tsx
  app/components/ui/peekNav.module.css
  app/components/ui/upcoming.module.css
  app/page.module.css
Due: stylelint --fix, eslint --fix

Add profile dropdown, nav bar improvements, and chat panel toggle icons
  app/components/analytics/CorrelationChart.tsx
  app/components/ui/ChatPanel.tsx
  app/components/ui/EmptyChats.tsx
  app/page.module.css
  app/page.tsx
  package-lock.json
  package.json
  public/image (9).png
Due: stylelint --fix, eslint --fix

Revert home cards, keep date display only
  app/page.module.css
  app/page.tsx
Due: stylelint --fix, eslint --fix

Changes to the codebase, removed unwanted files and other quality-of-life changes to the codebase
  app/components/ErrorBoundary.module.css
  app/components/ErrorBoundary.tsx
  app/components/home/HomeCarousel.module.css
  app/components/home/WellnessFocus.module.css
  app/components/home/WellnessFocus.tsx
  app/components/onboarding/index.ts
  app/components/onboarding/onboarding.module.css
  app/components/shared/ScrollPicker.tsx
  app/components/ui/EmptyChats.tsx
  app/components/ui/index.ts
  app/globals.css
  app/page.module.css
  app/page.tsx
Due: stylelint --fix, eslint --fix

Remove unused UI components and refactor WellnessFocus for improved layout and styling. Update CSS for dark theme compatibility and enhance responsiveness across devices.
  app/components/shared/ScrollPicker.module.css
Due: stylelint --fix

Refactor: Implement systematic design token theming for light/dark modes
  app/auth/callback/page.tsx
  app/components/home/WellnessFocus.module.css
  app/components/home/WellnessFocus.tsx
  app/components/layout/ThemeToggle.tsx
  app/components/layout/TopNav.tsx
  app/components/onboarding/HexagonGauge.tsx
  app/components/onboarding/onboarding.module.css
  app/components/overlays/CardChatOverlay.module.css
  app/components/profile/ProfileButton.module.css
  app/components/shared/ScrollPicker.module.css
  app/components/ui/CalendarHeatmap.tsx
  app/components/ui/ChatPanel.tsx
  app/components/ui/CommandPalette.tsx
  app/components/ui/EmptyChats.tsx
  app/contexts/ToastContext.tsx
  app/generated-tokens.css
  app/onboarding/onboarding.module.css
  app/onboarding/page.tsx
  app/page.module.css
  app/page.tsx
  app/styles/chat.module.css
  app/styles/profile.module.css
  app/styles/ui.module.css
  jest.config.js
  lib/design-tokens/colors.ts
  lib/design-tokens/index.ts
  lib/supabase.ts
  package-lock.json
  package.json
  public/images/sidebar-gradient.jpg
  pulse-ai-service/package-lock.json
  pulse-ai-service/src/middleware/rateLimit.ts
Due: stylelint --fix, eslint --fix, npm run design:generate, git add app/generated-tokens.css

Add Insights page components and enhance Wellness Focus
  app/components/home/WellnessFocus.tsx
  app/components/insights/MoodAreaChart.tsx
  app/components/insights/MoodTrendsCard.tsx
  app/components/insights/PatternInsightsCard.tsx
  app/components/insights/ReflectionCard.tsx
  app/components/insights/WeeklyPulseCard.tsx
  app/components/insights/index.ts
  app/components/insights/insights.module.css
  app/components/ui/CalendarHeatmap.module.css
  app/constants/wellnessOptions.ts
  app/page.module.css
  app/page.tsx
Due: stylelint --fix, eslint --fix

Match Insights page card backgrounds with home page cards
  app/components/insights/insights.module.css
Due: stylelint --fix

Match Insights page card dimensions with home carousel cards
  app/components/insights/insights.module.css
  app/page.module.css
Due: stylelint --fix

Revert: Restore previous Insights card dimensions
  app/components/insights/insights.module.css
  app/page.module.css
Due: stylelint --fix

Add Sentiment Heatmap and Emotional Vocabulary cards
  app/components/insights/EmotionalVocabularyCard.tsx
  app/components/insights/SentimentHeatmapCard.tsx
  app/components/insights/index.ts
  app/components/insights/insights.module.css
  app/onboarding/onboarding.module.css
  app/page.tsx
Due: stylelint --fix, eslint --fix

refactor: minimalist insights cards - hero metrics, remove subtitles, two-size system
  app/components/insights/EmotionalVocabularyCard.tsx
  app/components/insights/MoodTrendsCard.tsx
  app/components/insights/PatternInsightsCard.tsx
  app/components/insights/ReflectionCard.tsx
  app/components/insights/SentimentHeatmapCard.tsx
  app/components/insights/WeeklyPulseCard.tsx
  app/components/insights/insights.module.css
Due: stylelint --fix, eslint --fix

style: era.app-inspired card refinements - larger hero numbers, three-dot menus, date numbers in heatmap
  app/components/insights/EmotionalVocabularyCard.tsx
  app/components/insights/MoodTrendsCard.tsx
  app/components/insights/PatternInsightsCard.tsx
  app/components/insights/ReflectionCard.tsx
  app/components/insights/SentimentHeatmapCard.tsx
  app/components/insights/WeeklyPulseCard.tsx
  app/components/insights/insights.module.css
Due: stylelint --fix, eslint --fix

refactor: clarify WeeklyPulseCard - add comparison, best day callout
  app/components/insights/WeeklyPulseCard.tsx
  app/components/insights/insights.module.css
Due: stylelint --fix, eslint --fix

Add unified card scale, new insight cards (StreakCard, WhatHelpsYouCard, ChartsCard), and typography improvements
  app/components/home/HomeCarousel.module.css
  app/components/home/MediumCard.module.css
  app/components/home/StreakMini.tsx
  app/components/home/TopInsightCard.tsx
  app/components/home/WeeklyMoodRing.tsx
  app/components/home/WelcomeCard.module.css
  app/components/home/WellnessFocus.module.css
  app/components/insights/ChartsCard.tsx
  app/components/insights/EmotionalVocabularyCard.tsx
  app/components/insights/MoodTrendChart.tsx
  app/components/insights/MoodTrendsCard.tsx
  app/components/insights/PatternInsightsCard.tsx
  app/components/insights/ReflectionCard.tsx
  app/components/insights/SentimentHeatmapCard.tsx
  app/components/insights/SleepRing.tsx
  app/components/insights/StreakCard.tsx
  app/components/insights/WeeklyPulseCard.tsx
  app/components/insights/WhatHelpsYouCard.tsx
  app/components/insights/index.ts
  app/components/insights/insights.module.css
  app/page.tsx
  package-lock.json
  package.json
Due: stylelint --fix, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,module.css}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  npm run design:generate: any of: lib/design-tokens/**/*.ts
  git add app/generated-tokens.css: any of: lib/design-tokens/**/*.ts
